<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.xhalo.video.dao.CategoryDao">
    <resultMap type="net.xhalo.video.model.Category" id="CategoryMap">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="belong_to_other" jdbcType="BOOLEAN" property="belongToOther"/>
    </resultMap>

    <select id="getCategoryById" parameterType="LONG" resultMap="CategoryMap">
		SELECT
		id,
		name,
		belong_to_other
		FROM
		category_table
		WHERE
		id=#{id}
		LIMIT 1
	</select>

    <select id="getAllCategories" resultMap="CategoryMap">
		SELECT
		id,
		name,
		belong_to_other
		FROM
		category_table
		ORDER BY id ASC
	</select>

    <insert id="addCategory" parameterType="net.xhalo.video.model.Category">
		INSERT INTO
		category_table(
		name,
		belong_to_other
		)VALUES (
		#{name},
		#{belongToOther}
		)
	</insert>
</mapper>