<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.xhalo.video.dao.VideoDao">

	<resultMap type="net.xhalo.video.model.Video" id="VideoMap">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="click" jdbcType="INTEGER" property="click" />
		<result column="date" jdbcType="TIMESTAMP" property="date"
			javaType="java.util.Date" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="view" jdbcType="VARCHAR" property="view" />
		<result column="duration" jdbcType="INTEGER" property="duration" />
		<association property="category" javaType="net.xhalo.video.model.Category">
			<id property="id" column="category_id" />
			<result property="name" column="category_name" />
		</association>
		<association property="author" javaType="net.xhalo.video.model.User">
			<id property="id" column="author_id" />
			<result property="username" column="author_username" />
		</association>
	</resultMap>

	<resultMap type="net.xhalo.video.model.Video" id="VideoMapDetail">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="click" jdbcType="INTEGER" property="click" />
		<result column="date" jdbcType="TIMESTAMP" property="date"
			javaType="java.util.Date" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="view" jdbcType="VARCHAR" property="view" />
		<result column="duration" jdbcType="INTEGER" property="duration" />
		<result column="info" jdbcType="VARCHAR" property="info" />
		<association property="category" javaType="net.xhalo.video.model.Category">
			<id property="id" column="category_id" />
			<result property="name" column="category_name" />
		</association>
		<association property="author" javaType="net.xhalo.video.model.User">
			<id property="id" column="author_id" />
			<result property="username" column="author_username" />
		</association>
	</resultMap>


	<insert id="addVideo" parameterType="net.xhalo.video.model.Video">
		INSERT INTO videotable(
		title,
		click,
		date,
		address,
		view,
		duration,
		info,
		category,
		author
		)
		VALUES(
		#{title},
		#{click},
		#{date},
		#{address},
		#{view},
		#{duration},
		#{info},
		#{category.id},
		#{author.id}
		)
	</insert>

	<select id="getVideosOrderByWhat" parameterType="String"
		resultMap="VideoMap">
		SELECT
		a.id,
		a.title,
		a.click,
		a.date,
		a.address,
		a.view,
		a.duration,
		b.id category_id,
		b.name category_name,
		c.id author_id,
		c.username author_username
		FROM
		videotable a,
		categorytable b,
		usertable c
		WHERE
		a.category=b.id
		AND
		a.author=c.id
		ORDER BY ${orderItem} DESC
	</select>

	<select id="getVideosByCategoryAndOrderByWhat" resultMap="VideoMap">
		SELECT
		a.id,
		a.title,
		a.click,
		a.date,
		a.address,
		a.view,
		a.duration,
		b.id category_id,
		b.name category_name,
		c.id author_id,
		c.username author_username
		FROM
		videotable a,
		categorytable b,
		usertable c
		WHERE
		a.category=#{video.category.id}
		AND
		a.category=b.id
		AND
		a.author=c.id
		ORDER BY ${orderItem} DESC
	</select>

	<select id="getVideosByTitleAndOrderByWhat" resultMap="VideoMap">
		SELECT
		a.id,
		a.title,
		a.click,
		a.date,
		a.address,
		a.view,
		a.duration,
		b.id category_id,
		b.name category_name,
		c.id author_id,
		c.username author_username
		FROM
		videotable a,
		categorytable b,
		usertable c
		WHERE
		a.title like CONCAT(CONCAT('%', #{video.title}), '%')
		AND
		a.category=b.id
		AND
		a.author=c.id
		ORDER BY ${orderItem} DESC
	</select>

	<select id="getVideoById" parameterType="INTEGER" resultMap="VideoMapDetail">
		SELECT
		a.id,
		a.title,
		a.click,
		a.date,
		a.address,
		a.view,
		a.duration,
		a.info,
		b.id category_id,
		b.name category_name,
		c.id author_id,
		c.username author_username
		FROM
		videotable a,
		categorytable b,
		usertable c
		WHERE
		a.id=#{videoId}
	</select>


</mapper>
